@using Platform.JHMobile.Models

@model CallToReadObject

@{
    ViewBag.Title = "未阅寻呼详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="the-box toolbar no-border no-margin">
        <div class="row">
            <div class="col-xs-6">
                <div class="btn btn-warning" type="button" onclick="home();">
                    <i class="fa fa-home fa-lg"></i>
                </div>
                <div class="btn btn-warning" type="button" onclick="back();">
                    <i class="fa fa-reply fa-lg"></i>
                </div>
            </div>
        </div>
        <p></p>
        <div class="featured-text relative-left">
            <h4 style="line-height:26px">
                @Html.Raw(Model.Object.CallContent)
            </h4>
            <p></p>
            <p style="font-size:16px;line-height:26px">
                @{
                if (Model.List.Count > 0)
                {
            <div class="col-md-12" style="font-size:16px;"><strong>寻呼附件：</strong></div>
                    foreach (var file in Model.List)
                    {
            <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="@(DingTalk.CorpUrl + file.FilePath.Substring(3).Replace("__", "h__"))">@file.SlaveName</a></div>
                    }
                }
                }
            </p>
            <p></p>
            <p class="additional-post-wrap" style="font-size:14px;">
                <span class="additional-post"><i class="fa fa-user"></i>by<a href="#fakelink">@Model.Object.UserName</a></span>
                <span class="additional-post"><i class="fa fa-clock-o"></i><a href="#fakelink">@Model.Object.CallTime</a></span>
            </p>
            <hr />
        </div>
    </div>
</div>

<script>
    function back() {
        window.location = corp_url + 'Call/CallToRead';
    }

    function home() {
        window.location = corp_url + 'Ding/Home';
    }
</script>
