@{
    ViewBag.Title = "移动办公";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-6 metro_left">
            <div class="metro metro_0" onclick="window.location = corp_url + 'Call/CallToRead';">
                <div><i class="fa fa-comments fa-5x"></i></div>
                <div class="metro_text">未阅寻呼</div>
                <div class="metro_text">@ViewBag.CallToRead</div>
            </div>
        </div>
        <div class="col-xs-6 metro_right">
            <div class="metro metro_1" onclick="window.location = corp_url + 'Call/CallRead';">
                <div><i class="fa fa-comments-o fa-5x"></i></div>
                <div class="metro_text">已阅寻呼</div>
                <div class="metro_text">@ViewBag.CallRead</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 metro_left">
            <div class="metro metro_2">
                <div><i class="fa fa-envelope fa-5x"></i></div>
                <div class="metro_text">信息门户</div>
                <div class="metro_text">@ViewBag.MessageModule</div>
            </div>
        </div>
        <div class="col-xs-6 metro_right">
            <div class="metro metro_3">
                <div><i class="fa fa-envelope-o fa-5x"></i></div>
                <div class="metro_text">待阅信息</div>
                <div class="metro_text">@ViewBag.MessageToRead</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 metro_left">
            <div class="metro metro_4">
                <div><i class="fa fa-tasks fa-5x"></i></div>
                <div class="metro_text">待办工作</div>
                <div class="metro_text">@ViewBag.TaskToDo</div>
            </div>
        </div>
        <div class="col-xs-6 metro_right">
            <div class="metro metro_5">
                <div><i class="fa fa-database fa-5x"></i></div>
                <div class="metro_text">已办工作</div>
                <div class="metro_text">@ViewBag.TaskDone</div>
            </div>
        </div>
    </div>
</div>
