@using Platform.JHMobile.Models
@model 已收寻呼对象历史
@{
    ViewBag.Title = "历史寻呼查看";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-heading" style="margin: 5px;">历史寻呼查看</h1>
            <div class="the-box toolbar no-border no-margin">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="btn btn-warning" type="button" onclick="top.location = '@Url.Action("首页", "首页")';">
                            <i class="fa fa-home fa-lg"></i>
                        </div>
                        <div class="btn btn-warning" type="button" onclick="top.location = '@Url.Action("寻呼列表历史", "已收寻呼")';">
                            <i class="fa fa-reply fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="the-box no-border">
        <div class="chat-wrap scroll-chat-widget">
            <ul class="media-list media-xs media-dotted media-chat">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" src="~/Content/img/已收寻呼历史寻呼X.jpg" alt="" />
                    </a>
                    <div class="media-body">
                        <p class="name" style="background-color:#98C86C; padding:8px"><small>寻呼内容</small></p>
                        <p class="small">
                            &nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(Model.列表寻呼历史表.CallContent)
                        </p>
                    </div>
                </li>
                <li class="media">
                    @{
                        if (Model.已收寻呼附件表.Count > 0)
                        {
                            <a class="pull-left" href="#fakelink">
                                <img class="media-object img-circle" src="~/Content/img/附件.jpg" alt="">
                            </a>
                            <div class="media-body me">
                                <p class="name" style="background-color:#9989B8;padding:8px">
                                    <small>寻呼附件</small>
                                </p>
                                @{
                                    foreach (var file in Model.已收寻呼附件表)
                                    {
                                        <p class="small">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paperclip"></i>&nbsp;&nbsp;<a target="_blank" href="@(Url.Content("~/") + file.FilePath.Substring(3).Replace("__", "h__"))">@file.SlaveName</a>
                                        </p>
                                    }
                                }
                            </div>
                                    }
                    }
                </li>
            </ul>
            <p class="additional-post-wrap" style="font-size:16px;">
                <span class="additional-post"><i class="fa fa-user"></i>&nbsp;&nbsp;<a href="#">@Model.列表寻呼历史表.UserName</a></span>
                <span class="additional-post">&nbsp;&nbsp;<a href="#" style="float:right">@Model.列表寻呼历史表.CallTime</a></span>
            </p>
        </div>
    </div>
</div>
