@using Platform.JHMobile.Models

@model TaskDoneObject

@{
    ViewBag.Title = "已办工作详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-reply fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12"><strong>ID：</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Object.App_ID</div>
        <div class="col-md-12"><strong>流程标题：</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Object.AppO_Title</div>
    </div>
    @{
        if (Model.Form != null)
        {
            <div class="row">
                <div class="col-md-12"><strong>表单数据：</strong></div>
                <div class="col-md-12">
                    @{
                        foreach (var item in Model.Form)
                        {
                            <table class="text-center table-responsive table-bordered">
                                @{
                                    foreach (var field in Model.Config)
                                    {
                                        if (field.Visible)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@field.DisplayName</strong>
                                                </td>
                                                <td>@item.GetType().GetProperty(@field.Name).GetValue(item)</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12"><strong>表单数据：</strong></div>
                <div class="col-md-12 text-center">
                    未配置表单数据集
                </div>
            </div>
        }
    }
    @{
        <div class="row">
            <div class="col-md-12"><strong>办理流程：</strong></div>
            <div class="col-md-12">
                <table class="text-center table-responsive table-bordered">
                    <tr>
                        <th>办理人员</th>
                        <th>流程步骤</th>
                        <th>办理意见</th>
                        <th>办理时间</th>
                    </tr>
                    @{
                        foreach (var flow in Model.Flow)
                        {
                            <tr>
                                <td>@flow.UserName</td>
                                <td>@flow.AppDA_ButtonValue</td>
                                <td>@flow.AppI_Content</td>
                                <td>@flow.App_Time.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }
</div>

<script>
    function back() {
        window.location = corp_url + 'Task/TaskDone';
    }

    function home() {
        window.location = corp_url + 'Ding/Home';
    }
</script>
