@using Platform.JHMobile.Models

@model List<f____Mobile_List_MessageModule_Result>

@{
    ViewBag.Title = string.Format("{0} - 第{1}页", DingTalk.CorpMessageModules[ViewBag.MMType], ViewBag.Current + 1);
}

@{
    var index = 0;
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <h1 class="page-heading">@DingTalk.CorpMessageModules[ViewBag.MMType] <small>第@(ViewBag.Current + 1)页</small></h1>
    <div class="the-box toolbar no-border no-margin">
        <div class="row">
            <div class="col-xs-7">
                <div class="btn btn-warning" type="button" onclick="home();">
                    <i class="fa fa-home fa-lg"></i>
                </div>
                <div class="btn btn-warning" type="button" onclick="back();">
                    <i class="fa fa-reply fa-lg"></i>
                </div>
            </div>
            <div class="col-xs-5 text-right">
                @{
                if (ViewBag.Min < ViewBag.Current)
                {
            <div class="btn btn-primary" type="button" onclick="previous();">
                <i class="fa fa-chevron-left"></i>
            </div>
                }
                if (ViewBag.Current < ViewBag.Max)
                {
            <div class="btn btn-primary" type="button" onclick="next();">
                <i class="fa fa-chevron-right"></i>
            </div>
                }
                }
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    @{
        if (Model.Count == 0)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    暂无内容
                </div>
            </div>
        }
        else
        {
            foreach (var obj in Model)
            {
                index++;
                <div class="row" onclick="@("window.location = corp_url + 'Message/MessageModulePreview/" + obj.MessageID + "';")">
                    <div class="col-md-12">
                        <div class="panel metro_2">
                            <div class="panel-heading" style="color:#fff;font-size:20px;line-height:26px">
                                <span>@Html.Raw(obj.MessageTitle)</span>
                            </div>
                            <a>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-8 text-left">
                                            <div>@obj.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <div>@obj.UserName</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <div class="row">&nbsp;</div>
    <div class="the-box toolbar no-border no-margin">
        <div class="row">
            <div class="col-xs-7">
                <div class="btn btn-warning" type="button" onclick="home();">
                    <i class="fa fa-home fa-lg"></i>
                </div>
                <div class="btn btn-warning" type="button" onclick="back();">
                    <i class="fa fa-reply fa-lg"></i>
                </div>
            </div>
            <div class="col-xs-5 text-right">
                @{
                    if (ViewBag.Min < ViewBag.Current)
                    {
                        <div class="btn btn-primary" type="button" onclick="previous();">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                    }
                    if (ViewBag.Current < ViewBag.Max)
                    {
                        <div class="btn btn-primary" type="button" onclick="next();">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    var min = @ViewBag.Min;
    var max = @ViewBag.Max;
    var current = @ViewBag.Current;
    var mm_type = @ViewBag.MMType;

    function previous() {
        if (current > min){
            window.location = corp_url + 'Message/MessageModuleSingle/' + mm_type + "_" + (current - 1);
        }
    }

    function next() {
        if (current < max){
            window.location = corp_url + 'Message/MessageModuleSingle/' + mm_type + "_" + (current + 1);
        }
    }

    function back() {
        window.location = corp_url + 'Message/MessageModule';
    }

    function home() {
        window.location = corp_url + 'Ding/Home';
    }
</script>
