@model List<Platform.JHMobile.Models.待阅信息列表_Result>
@{
    ViewBag.Title = Platform.JHMobile.Models.Corp.corp_messages[Model.First().ModuleTypeID.Value.ToString()];
    var index = 0;
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">&nbsp;</div>
    @foreach (var obj in Model)
    {
        index++;
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8 text-left">
                                <div>@obj.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <div>@obj.UserName</div>
                            </div>
                        </div>
                    </div>
                    <a>
                        <div class="panel-footer">
                            <span class="pull-left">@Html.Raw(obj.MessageTitle)</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" onclick="@("window.location = corp_url + 'Home/MessagePreview/" + obj.MessageID + "';")">
                <i class="fa fa-envelope fa-2x text-green ma-top-7"></i>
            </div>
        </div>
    }
</div>

<script>
    var min = @ViewBag.Min;
    var max = @ViewBag.Max;
    var current = @ViewBag.Current;
    var mm_type = @ViewBag.MMType;

    function previous() {
        if (current > min){
            window.location = corp_url + 'Home/MessageModule/' + mm_type + "_" + (current - 1);
        }
    }

    function next() {
        if (current < max){
            window.location = corp_url + 'Home/MessageModule/' + mm_type + "_" + (current + 1);
        }
    }

    function back() {
        window.location = corp_url + 'Home/Message';
    }
</script>
