@model Platform.JHMobile.Models.待办事项列表_Result
@{
    ViewBag.Title = "待办事项办理";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-envelope fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            AppO_Title: @Model.AppO_Title<br />
            App_ID: @Model.App_ID<br />
            Sub_Code: @Model.Sub_Code<br />
            Sub_Time: @Model.Sub_Time<br />
            TEM_Name: @Model.TEM_Name<br />
            UserName: @Model.UserName<br />
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

<script>
    function back() {
        window.location = corp_url + 'Home/Task';
    }

    function home() {
        window.location = corp_url + 'Home/Home';
    }
</script>
